<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.mdiwebma.diffviewer.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.SplitDiff" />
        <activity
            android:name="com.mdiwebma.diffviewer.DemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.SplitDiff" />
    </application>
</manifest>
